<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Doctor Home Page</title>
</head>
<body>
	<h1>Doctor Home Page</h1>
	<hr>
	<p>
		<a href="doctor-find">Find Doctor</a>
	</p>
	<p>
		<a href="doctor/list">List All doctors </a>
	</p>
	<p>
		<a href="doctorSpeciality/list">List doctor in speciality </a>
	</p>
	<p>
		<a href="doctorSpeciality/add">add doctor to speciality </a>
	</p>
	<p>
		<a href="doctorSpeciality-remove">remove doctor from speciality </a>
	</p>
</body>
</html>