<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update patient Details</title>

<link rel="stylesheet" href="" th:href="@{/css/form1.css}" />
</head>
<body>
	<h1 text-align: center;
    "color :white;">Update Patient Details</h1>

	<div class="container">
		<form action="updateoldPatient" method="POST">
		<div class="row">
				<div class="col-25">
					<label for="patientId">Patient ID</label>
				</div>
				<div class="col-75">
					<input type="text" id="patientId" name="patientId"
						placeholder="Patient-ID" required>
				</div>
			</div>
			<div class="row">
				<div class="col-25">
					<label for="firstName">Patient First Name</label>
				</div>
				<div class="col-75">
					<input type="text" id="firstName" name="firstname"
						placeholder="Your First name.." required>
				</div>
			</div>
			<div class="row">
				<div class="col-25">
					<label for="lastName">Patient Last Name</label>
				</div>
				<div class="col-75">
					<input type="text" id="lastName" name="lastname"
						placeholder="Your last name.." required>
				</div>
			</div>

			<div class="row">
				<div class="col-25">
					<label for="email">Patient Email</label>
				</div>
				<div class="col-75">
					<input type="text" id="email" name="email"
						placeholder="Your email.." required>
				</div>
			</div>

			<div class="row">
				<button type="submit" class="submitbtn" value="Submit">UPDATE</button>

			</div>
		</form>
		 <br>
	  <br>
	  <center><button onclick="history.back()">Go Back</button>
		<br>
	  <br>
	  </div>
	   <div th:text="${response}"
			style="background-color: rgba(255, 255, 255, 0.2); max-width: 70%; margin-left: 15%; text-align: center"></div>

	</div>
		
</body>
</html>

