<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>update patient details</title>
</head>
<body>
	<h2>update patient details</h2>
	<form action="updateoldPatient" method="POST">
	<span>Patient ID</span><input type="text" name="patientId"><br />
		<span>Patient First Name</span><input type="text" name="firstName"><br />
		<span>Patient Last Name</span><input type="text" name="lastName"><br />
		<span>Email</span><input type="text" name="email"><br />
		<input type="submit" name="Register">
	</form>
</body>
</html>

